<%= form_for(@dataset) do |f| %>
  <% if @dataset.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @dataset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "row">
    <div class ="large-6 medium-9 small-12 columns">
      <%= f.label :name %>
      <%= f.text_area :name %>
    </div>
  </div>
  <div class= "row">
    <div class ="large-6 medium-9 small-12 columns">
      <%= f.label :data  %>
      <%= f.text_area :data, class: "data-field", rows: "6" %>
    </div>
  </div>
  <div class= "row">
    <div class ="large-6 medium-9 small-12 columns">
      <%= f.submit nil, class: "button"%>
    </div>
  </div>

<% end %>
