<div class="row">
  <div class="large-8 push-4 columns">
    <% @datasets.each do |dataset| %>
    <div class= "row" id= "dataset_<%= dataset.id %>">
      <div class = "data-set small-6 columns">
        <p><%= dataset.name %></p>
        <p>
          <%= dataset.data_to_a[0] %>
          <% 9.times do |i| %>
            <%= ", #{dataset.data_to_a[i+1]}" %>
          <% end %>...
        </p>
      </div>

      <div class="dataset-buttons small-6 columns">
        <%= button_to "Edit", edit_dataset_path(dataset), :method => :get, class: "button" %>
        <%= button_to "Delete", dataset_path(dataset), confirm: "Are you sure?", :method => :delete, class: "button" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="large-4 pull-8 columns">
    <h3>Your datasets</h3>
    <%= link_to "Add a new dataset", new_dataset_path %>
  </div>
</div>
