<%= link_to "Add a new dataset", new_dataset_path %>

<%= form_for @pattern do |f| %>
  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :dataset_id %>
  <%= f.collection_select(:dataset_id, Dataset.all, :id, :name) %>

  <%= f.label :colors %>
  <%= f.text_area :colors %>

  <%= f.submit %>
<% end %>
