<%= form_for @pattern do |f| %>
  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :dataset_id, "Pick your data set" %>
  <% if user_signed_in? %>
    <%= f.collection_select(:dataset_id, current_user.full_datasets, :id, :name) %>
  <% else %>
    <%= f.collection_select(:dataset_id, Dataset.standard, :id, :name) %>
  <% end %>

  <div class = "text-right">
    <%= link_to "Add a new dataset", new_dataset_path %>
  </div>

  <%= f.label :colors, "Pick your colors" %>

  <div id = "color-pickers">
  <%= f.hidden_field :colors, name: "pattern[colors][]", id: "color1" %>
  <%= f.hidden_field :colors, name: "pattern[colors][]", id: "color2" %>
  <%= f.hidden_field :colors, name: "pattern[colors][]", id: "color3" %>
  <%= f.hidden_field :colors, name: "pattern[colors][]", id: "color4" %>
  <%= f.hidden_field :colors, name: "pattern[colors][]", id: "color5" %>
  </div>

  <%= f.submit nil, class: "button pattern-submit" %>
<% end %>
