<div class="row">
  <div class="large-12 columns">
    <div class="fade">
      <div><%= image_tag "slide_1.jpg" %></div>
      <div><%= image_tag "slide_2.jpg" %></div>
      <div><%= image_tag "slide_3.jpg" %></div>
    </div>

    <hr/>
  </div>
</div>

<div class="row">
<div class="large-8 push-4 columns">
    <h3>Knit your Data!</h3>

    <p class = "d-title">1. Pick a data set</p>
      <p class = "d-subtitle">You can use one of the samples, or enter your own by clicking "Add a new data set."</p>

    <p class = "d-title">2. Select your colors</p>
      <p class = "d-subtitle">Click on the bars to load the color picker.</p>
    <p class = "d-title">3. Generate your pattern</p>
      <p class = "d-subtitle">Click "Create Pattern" to view your design and tweak the colors if you so choose.</p>
  </div>

  <div class="large-4 pull-8 columns">
    <h3>Make Your Own!</h3>
    <%= render "form" %>
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_include_tag 'color_picker' %>
<% end %>
