<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css" %>
    <%= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css" %>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Courgette" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <title>Stripes!</title>
  </head>

  <body>
  <div class="wrapper">
    <div class="top-nav-bar">
      <div class="row">
        <div class="large-6 columns">
          <%= link_to "HOME", root_path %>
          <%= link_to "My Datasets", datasets_path %>
          <%= link_to "My Patterns", patterns_path %>
        </div>

        <div class="large-6 columns">
          <ul class="inline-list right">
            <% if current_user %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %> flash-messages">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>copyright 2015</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= fa_icon "github", class: "fa-3x" %><%= link_to "eishande", "http://www.github.com/eishande/" %></li>
            <li><%= fa_icon "twitter", class: "fa-3x" %><%= link_to "YarnAndCode", "http://www.twitter.com/YarnAndCode" %></li>
            <li><%= fa_icon "linkedin", class: "fa-3x" %><%= link_to "Profile", "http://www.linkedin.com/in/katebuckner" %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>
  </body>

  <%= yield :javascript %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
</html>
