<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "//code.jquery.com/jquery-1.11.0.min.js" %>
  <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
  <%= javascript_include_tag "application" %>
</html>
